<a href="https://colab.research.google.com/github/kurniacf/BigData_AssigmentWeek7_Apriori_FPGrowth/blob/main/Apriori_Exercise_5025201073_Kurnia_Cahya_Febryanto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BIG DATA ASSIGNMENT WEEK 07
# APRIORI EXERCISE

- Name: Kurnia Cahya Febryanto
- Student ID: 5025201073
- Class: Big Data A
- Lecturer: Abdul Munif, S.Kom., M.Sc.

In [ ]:
# Install mlxtend library
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.9/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.9/dist-packages (from mlxtend) (3.7.1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.9/dist-packages (from mlxtend) (1.4.4)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.9/dist-packages (from mlxtend) (1.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.9/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from mlxtend) (67.6.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.9/dist-packages (from mlxtend) (1.10.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.0.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.39.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.5.1->mlxtend) (5.12.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=1.5.1->mlxtend) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.16.0)

In [ ]:
# Import the required libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
# Dataset
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

## Example 1: Generating Frequent Itemsets

In [ ]:
# Encode the dataset using the TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [ ]:
# Apply the apriori algorithm to find frequent itemsets with a minimum support of 0.6
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

In [ ]:
# Display the resulting frequent itemsets
print(frequent_itemsets)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

## Example 2: Selecting and Filtering Results

In [ ]:
# Add a new column to store the length of each itemset
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Kidney Beans, Yogurt)       2
10      0.6  (Eggs, Onion, Kidney Beans)       3

In [ ]:
# Select itemsets of length 2 with a support of at least 0.8
filtered_itemsets = frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.8)]

# Display the filtered itemsets
print(filtered_itemsets)

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [ ]:
# Similarly, using the Pandas API, we can select entries based on the "itemsets" column
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2

## Example 3: Working with Sparse Representations

In [ ]:
# Encode the dataset as a sparse DataFrame
oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)

sparse_df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1,0,True,1,1,1,0,1
1,0,0,1,1,0,True,0,1,1,0,1
2,1,0,0,1,0,True,1,0,0,0,0
3,0,1,0,0,0,True,1,0,0,1,1
4,0,1,0,1,1,True,0,0,1,0,0

In [ ]:
# Apply the apriori algorithm to find frequent itemsets with a minimum support of 0.6 using the sparse DataFrame
frequent_itemsets_sparse = apriori(sparse_df, min_support=0.6, use_colnames=True)

In [ ]:
# Display the resulting frequent itemsets
print(frequent_itemsets_sparse)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Onion, Kidney Beans)

## API

Get frequent itemsets from a one-hot DataFrame

Dataframe

|   # | Apple | Bananas | Beer  | Chicken | Milk  | Rice  |
|-----|-------|---------|-------|---------|-------|-------|
|   0 | True  | False   | True  | True    | False | True  |
|   1 | True  | False   | True  | False   | False | True  |
|   2 | True  | False   | True  | False   | False | False |
|   3 | True  | True    | False | False   | False | False |
|   4 | False | False   | True  | True    | True  | True  |
|   5 | False | False   | True  | False   | True  | True  |
|   6 | False | False   | True  | False   | True  | False |
|   7 | True  | True    | False | False   | False | False |

In [ ]:
# from dataframe
dataset = [
    ['Apple', 'Beer', 'Rice', 'Chicken'],
    ['Apple', 'Beer', 'Rice'],
    ['Apple', 'Beer'],
    ['Apple', 'Bananas'],
    ['Milk', 'Beer', 'Rice', 'Chicken'],
    ['Milk', 'Beer', 'Rice'],
    ['Milk', 'Beer'],
    ['Apple', 'Bananas']
]

In [ ]:
# Perform one-hot encoding on the dataset
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [ ]:
# Using min_support=0.5 and use_colnames=False (default)
result1 = apriori(df, min_support=0.5)
print("Example 1:\n", result1)

Example 1:
    support itemsets
0    0.625      (0)
1    0.750      (2)
2    0.500      (5)
3    0.500   (2, 5)

In [ ]:
# Using min_support=0.3, use_colnames=True, and max_len=2
result2 = apriori(df, min_support=0.3, use_colnames=True, max_len=2)
print("Example 2:\n", result2)

Example 2:
    support       itemsets
0    0.625        (Apple)
1    0.750         (Beer)
2    0.375         (Milk)
3    0.500         (Rice)
4    0.375  (Apple, Beer)
5    0.375   (Beer, Milk)
6    0.500   (Beer, Rice)

In [ ]:
# Using min_support=0.2, use_colnames=True, verbose=1, and low_memory=True
result3 = apriori(df, min_support=0.2, use_colnames=True)
print("Example 3:\n", result3)

Example 3:
     support               itemsets
0     0.625                (Apple)
1     0.250              (Bananas)
2     0.750                 (Beer)
3     0.250              (Chicken)
4     0.375                 (Milk)
5     0.500                 (Rice)
6     0.250       (Apple, Bananas)
7     0.375          (Apple, Beer)
8     0.250          (Apple, Rice)
9     0.250        (Chicken, Beer)
10    0.375           (Beer, Milk)
11    0.500           (Beer, Rice)
12    0.250        (Chicken, Rice)
13    0.250           (Milk, Rice)
14    0.250    (Apple, Beer, Rice)
15    0.250  (Chicken, Beer, Rice)
16    0.250     (Beer, Milk, Rice)